NET Sys_clk                 LOC=P24  | IOSTANDARD=LVCMOS33;
NET Rst_n                   LOC=P93  | IOSTANDARD=LVCMOS33;
NET red_sign[2]             LOC=P85  | IOSTANDARD=LVCMOS33;
NET red_sign[1]             LOC=P84  | IOSTANDARD=LVCMOS33;
NET red_sign[0]             LOC=P83  | IOSTANDARD=LVCMOS33;
NET grenn_sign[2]           LOC=P82  | IOSTANDARD=LVCMOS33;
NET grenn_sign[1]           LOC=P81  | IOSTANDARD=LVCMOS33;
NET grenn_sign[0]           LOC=P80  | IOSTANDARD=LVCMOS33;
NET blue_sign[1]            LOC=P79  | IOSTANDARD=LVCMOS33;
NET blue_sign[0]            LOC=P78  | IOSTANDARD=LVCMOS33;
NET V_Sync_sign             LOC=P75  | IOSTANDARD=LVCMOS33;
NET H_Sync_sign             LOC=P74  | IOSTANDARD=LVCMOS33;
NET SDRAM_CS_N              LOC=P48  | IOSTANDARD=LVCMOS33;
NET SDRAM_RAS_N             LOC=P50  | IOSTANDARD=LVCMOS33;
NET SDRAM_CAS_N             LOC=P51  | IOSTANDARD=LVCMOS33;
NET SDRAM_WE_N              LOC=P35  | IOSTANDARD=LVCMOS33;
NET SDRAM_CKE               LOC=P137 | IOSTANDARD=LVCMOS33;
NET SDRAM_DQM[0]            LOC=P34  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQM[1]            LOC=P2   | IOSTANDARD=LVCMOS33;
NET SDRAM_CLK               LOC=P134 | IOSTANDARD=LVCMOS33;
NET SDRAM_BANK_ADDR[0]      LOC=P47  | IOSTANDARD=LVCMOS33;
NET SDRAM_BANK_ADDR[1]      LOC=P46  | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[0]         LOC=P44  | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[1]         LOC=P43  | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[2]         LOC=P41  | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[3]         LOC=P40  | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[4]         LOC=P1   | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[5]         LOC=P143 | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[6]         LOC=P142 | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[7]         LOC=P141 | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[8]         LOC=P140 | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[9]         LOC=P139 | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[10]        LOC=P45  | IOSTANDARD=LVCMOS33;
NET SDRAM_A_ADDR[11]        LOC=P138 | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[0]             LOC=P22  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[1]             LOC=P23  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[2]             LOC=P26  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[3]             LOC=P27  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[4]             LOC=P29  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[5]             LOC=P30  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[6]             LOC=P32  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[7]             LOC=P33  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[8]             LOC=P5   | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[9]             LOC=P6   | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[10]            LOC=P7   | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[11]            LOC=P8   | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[12]            LOC=P9   | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[13]            LOC=P10  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[14]            LOC=P11  | IOSTANDARD=LVCMOS33;
NET SDRAM_DQ[15]            LOC=P12  | IOSTANDARD=LVCMOS33;
NET rx                      LOC= p56 | IOSTANDARD=LVCMOS33;
PIN "INST0_PLL_base50mhz_25mhz/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
